@page
@model IndexModel
@{
    ViewData["Title"] = "Onlylea.vip";
}
<section class="landing" id="landing-id">
    <!-- Title -->

    <img src="~/images/lealogo.svg" class="logo" loading="lazy">
    <link rel="icon" type="image/x-icon" href="~/images/lealogo.ico">

    <h1>Welcome to OnlyLea</h1>
    <h2>Quality content of the Lea</h2>
    <h2 class="mobile-note"> ~rotate your phone for the best experience~</h2>
</section>

 <section class="Eepy-section">
            <h3>Eepy pics</h3>
        </section>

        <section class="Belly-section">
            <h3>Belly pics</h3>
        </section>

        <section class="Silly-section">
            <h3>Silly pics</h3>
        </section>

        <section class="Baby-section">
            <h3>Baby pics</h3>
        </section>

        <section class="Contact">

				<a href="https://www.buymeacoffee.com/onlylea.vip" target="_blank">Support me!</a>
                <h4> all the money will go into buying my cat food or running the show</h4>

				<a href="mailto:onlylea.exclusive@gmail.com" target="_blank">Email me!</a>
                <h4>you might get exclusive content...</h4>

        </section>
