<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
        <script src="{{ url_for('static', filename='scripts/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    </head>

    <body>
        <section class="landing" id="landing-id">
            <!-- Title -->

            <img src="{{ url_for('static', filename='src/lealogo.svg') }}" class="logo" loading="lazy">
            <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='src/lealogo.ico') }}">

            <h1>Welcome to OnlyLea</h1>
            <h2>Quality content of the Lea</h2>
            <h2 class="mobile-note"> ~rotate your phone for the best experience~</h2>
        </section>

        <section class="content-section"></section>

        <section class="Contact">

            <a href="https://www.buymeacoffee.com/onlylea.vip" target="_blank">Support me!</a>
            <h4> all the money will go into buying my cat food or running the show</h4>

            <a href="mailto:onlylea.exclusive@gmail.com" target="_blank">Email me!</a>
            <h4>you might get exclusive content...</h4>

        </section>
    </body>
</html>
